<div style="width: 80%; margin: 0 auto;">
 	<div class="row center-xs">
 		<div class="col-xs-8 ">
			<%= render @advertisements %>
			<div class="field">
				<h3><%= will_paginate @publications %></h3> 
			</div>
		</div> 
 	</div>
 	
</div>